<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vincent Jacob</title>
  </head>
  <body>
    <div class="container">
      <div class="main slideup">
        <img src="<%= require('./images/vincent-jacob-white.png') %>" class="name" width="550">
        <img src="<%= require('./images/profile.jpeg') %>" width="350" class="profile">
      </div>
    </div>
  </body>
</html>
