$black: #1c1c1c;
$darkbrown: #2d2325;
$spruce: #195339;
$brown: #6e3d16;
$dirt: #644c3c;
$redbrown: #5f291a;
$blue: #283b64;
$aqua: #4b6973;
$lightpurple: #b4bbd2;
$sky: #c3e0ee;
$sand: #ebdac5;
$white: #ffffff;
$grey-100: #9f9b9b;
$grey-200: #515351;
$grey-300: #343332;
$green: #33421c;

.redbrown {
  color: $redbrown;
}
