$footer-height: 160px;

#Footer {
  position: sticky;
  position: -webkit-sticky;
  top: calc(100vh - #{$footer-height});
  width: 100%;
  height: $footer-height;
  background-color: $spruce;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  > img {
    height: 150px;
    @include xs {
      height: 120px;
    }
    padding-right: 5px;
  }
}
