$footer-height: 160px;

#Footer {
  position: sticky;
  position: -webkit-sticky;
  top: calc(100vh - #{$footer-height});
  width: 100%;
  height: $footer-height;
  background-color: $spruce;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  > img {
    height: 150px;
    @include xs {
      height: 120px;
    }
    padding-right: 5px;
  }
  .social-media {
    display: block;
    position: relative;
    top: 20px;
    height: 60px;
    margin-left: 40px;
    padding: 5px;
    img {
      height: 100%;
    }
    @include sm {
      margin-left: 5px;
      height: 65px;
    }
    @include xs {
      height: 55px;
    }
    border-radius: 10px;
    transition: 0.3s;
    &:hover {
      background-color: transparentize($black, 0.5);
    }
  }
}
