$footer-height: 220px;

#Footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $spruce;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  img {
    height: 200px;
    @include sm {
      height: 150px;
    }
  }
  font-size: 100px;
  @include sm {
    font-size: 50px;
  }
  .social-media {
    position: relative;
    top: 20px;
    height: 80px;
    margin-left: 50px;
    @include sm {
      margin-left: 20px;
      height: 65px;
    }
  }
}
