#txtName {
  top: 0;
  margin: auto;
  align-self: center;
  width: 600px;
  @include sm {
    width: 80%;
  }
}

#imgForest {
  top: calc((10vh - 25vh) / #{$scale});
  height: calc(80vh / #{$scale});
  min-height: calc(300px / #{$scale});
}

#txtPromiseMe {
  top: 0;
  align-self: flex-end;
  width: calc(700px / #{$scale});
  @include sm {
    align-self: center;
    width: 95%;
  }
}

#vidPromiseMe {
  align-self: flex-end;
  top: 0;
  @include sm {
    align-self: center;
  }
}

#txtIDontKnow {
  top: 25vh;
  align-self: center;
  width: 500px;
  @include sm {
    width: 100%;
  }
}

#imgPath {
  top: -15vh;
  align-self: flex-end;
  width: calc(450px / #{$scale});
  @include sm {
    width: 80%;
  }
}

// #imgSheep {
//   top: 500vh;
//   left: 10vw;
//   width: 500px;
// }

#imgProfile {
  width: 80%;
  align-self: center;
}
