#txtName {
  top: 0;
  margin: auto;
  align-self: center;
  width: 600px;
  @include sm {
    width: 80%;
  }
}

#imgRemember {
  top: 0;
  height: 500px;
  @include sm {
    height: 350px;
  }
  @include xs {
    height: 250px;
  }
}

#txtPromiseMe {
  top: 0;
  align-self: flex-end;
  max-width: calc(750px / #{$scale});
  @include sm {
    align-self: center;
    width: 95%;
  }
}

#vidPromiseMe {
  align-self: flex-end;
  top: 0;
  @include sm {
    align-self: center;
  }
}

#txtIDontKnow {
  top: 25vh;
  align-self: center;
  width: 500px;
  @include sm {
    align-self: flex-start;
    width: 70%;
  }
}

#imgPath {
  top: -15vh;
  align-self: flex-end;
  width: calc(450px / #{$scale});
  max-width: 1000px;
  @include sm {
    width: 80%;
  }
}

// #imgSheep {
//   top: 500vh;
//   left: 10vw;
//   width: 500px;
// }

#imgProfile {
  width: 80%;
  align-self: center;
  max-width: 1000px;
}
