#txtName {
  top: 30vh;
  left: 100px;
  width: 900px;
  align-self: center;
}

#imgForest {
  width: 350px;
  top: 5vh;
}

#txtPromiseMe {
  width: 1300px;
  top: 0;
  align-self: flex-end;
}

#vidPromiseMe {
  top: 300vh;
  left: -100px;
  width: 560pt;
  height: 315pt;
}

#txtIDontKnow {
  width: 800px;
  top: 20vh;
}

#imgPath {
  align-self: flex-end;
  top: 450vh;
  width: 500px;
}

#imgSheep {
  top: 500vh;
  left: 10vw;
  width: 500px;
}

#imgProfile {
  top: 80vh;
  width: 80%;
  align-self: center;
}
