$perspective: 1px;
$back-layer-position: -1px;
$scale: 0.5;//($perspective / ($perspective - $back-layer-position)));

.parallax {
  perspective: $perspective;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.parallax-layer {
  --container-width: 800px;
  @include sm {
    --container-width: 90vw;
  }
  width: var(--container-width);
  margin: auto;
  position: relative;
  top: 0;
  height: 0;
  display: flex;
  flex-direction: column;
  &.flex-row {
    flex-direction: row;
  }
}
.pl-base {
  transform: translateZ(0);
}
.pl-back {
  position: relative;
  --viewport-width: calc(var(--container-width) / #{$scale});
  width: var(--viewport-width);
  left: calc((100% - var(--viewport-width))/2);
  transform: translateZ(#{$back-layer-position});
}
.pl-object {
  position: relative;
}
