.sm-top {
  display: flex;
  position: relative;
  top: 0;
  right: 0;
  height: 0;
  justify-content: flex-end;
  z-index: 5;
  .social-media {
    margin-left: 0;
    margin-right: 20px;
  }
}

.social-media {
  display: block;
  position: relative;
  top: 20px;
  height: 60px;
  margin-left: 40px;
  padding: 5px;
  img {
    height: 100%;
  }
  @include sm {
    margin-left: 5px;
    height: 65px;
  }
  @include xs {
    height: 55px;
  }
  border-radius: 10px;
  transition: 0.3s;
  &:hover {
    background-color: transparentize($black, 0.5);
  }
}
