.sm-top {
  display: flex;
  position: fixed;
  position: sticky;
  top: 0;
  right: 0;
  height: 0;
  justify-content: flex-end;
  z-index: 5;
  .social-media {
    display: flex;
    position: relative;
    top: 20px;
    margin-left: 0;
    margin-right: 20px;
    width: 65px;
    height: 60px;
    @include sm {
      width: 60px;
      heigth: 55px;
    }
    img {
      vertical-align: middle;
      width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
    border-radius: 10px;
    transition: 0.3s;
    &:hover {
      background-color: transparentize($black, 0.5);
    }
  }
}
