@import 'mixins';
@import 'colors';
@import 'parallax';
@import 'objects';
@import 'viewport';
@import 'footer';

body {
  margin: 0;
}

html.sr .load-hidden {
  visibility: hidden;
}

img {
  display: block;
}

.background {
  width: 100vw;
  background: url('../images/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.spacer {
  height: 100vh;
  &.foot {
    height: 20vh;
  }

  // Border class to show spacers
  &.border {
    border-bottom: 2px solid;
    &.blue {
      border-color: $sky;
    }
    &.green {
      border-color: $spruce;
    }
    &.red {
      border-color: $redbrown;
    }
    &.yellow {
      border-color: $sand;
    }
  }
}
